/* You can add global styles to this file, and also import other style files */
body {
  background-image: url(assets/img/arkhd.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

.overlay {
  color:white;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
